.add-user-input {
  float:right;
  padding: 5px 26px;
}

.well.well-add-user {
  padding:0;
  background-color: #dff0d9;
  border: 1px solid #d6e9c6;
  box-shadow: none;
}

.add-input-wrap {
  background-color:#fff;
  padding:20px 0;
}

.add-input-group {
  overflow: hidden;
  margin-bottom: 12px;
}

.well.well-add-user label {
    padding: 0;
    padding-top: 7px;
    text-align: left;
}

.add-user-title {
  color: #3c763d;
}

span.glyphicon.glyphicon-user {
  margin-left:15px;
}

.add-user-title h4 {
  padding: 0 5px;
  margin:14px 0;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  font-weight: 400;
}

.last-add-user {
  margin-top:20px;
}





