<div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-8">
  <div class="well well-sm">
      <div class="media">
        <div class="media-user media-left col-sm-5 col-md-5">
            <img src="../assets/images/default_user.png" alt="" class="img-responsive" width="255" height="233" />
            <button id="ispermission" type="button" class="btn btn-primary btn-sm">
              Edit permissions
            </button>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Jimmy Two Times</h4>
            <p class="permissions">
              <i class="glyphicon glyphicon-envelope"></i>
               jimmy@goodfellas.com
              <br />
              <i class="edit-permissions glyphicon glyphicon-globe"></i> 
              <input id="input-permissions" class="input-permissions" type="text" placeholder="edit-permissions" value="" />
              <br/>
              <i class="glyphicon glyphicon-gift"></i> read, write
            </p>
        </div>
        
      </div> 
  </div>
  
    
 
</div>



<!-- <div>
  <h2>Change Permissions</h2>
  <input type="text" name="level" placeholder="Edit me">
  <br/>
  <br/>
  <button type="submit">Save Edits</button>
  <br>
</div>
 -->