<div class="container">
  <div class="loginwrapper">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Reset Component</h2>
        <div class="form-horizontal col-md-8 col-md-offset-2">
          <div class="innerlogin">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" placeholder="Enter email">
              </div>
            </div>
           
            <div class="loginpassword">
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <p>Enter your email to get a new password or back to login, if you know your password.</p>
                  <button class="btn btn-primary" type="submit">Reset password</button>
                  <button class="backto-login btn btn-danger" [routerLink]="['/login']">
                    Back to login
                  </button>
                
                </div>
              </div>
              
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>


