.add-user-input {
  float:right;
  padding: 5px 26px;
}

.well.well-add-user label {
    padding: 0;
    padding-top: 7px;
    text-align: left;
}

.add-user-title {
  margin-bottom:2em;
}

.add-user-title h3 {
  margin-top:10px;
}