.loginwrapper {
  margin: 2em 0 1em;
}

.innerlogin {
  margin:2em 0;
}

.loginwrapper h2 {
  text-align: center;
  margin:1em 0 1.5em;
}

.form-horizontal {
  border: 1px solid #eeeeee;
}

.form-horizontal .control-label {
    font-size: 1.2em;
}

.form-group input {
  padding: 6px 30px;
}

.loginpassword {
  margin-top:2em;
}




@media screen and (max-width:414px) {
  .form-horizontal {
    padding:0;
    border:none;
  }
  .form-group input {
    padding: 10px 15px;
    border: 1px solid gray;
    width: 100%;
  }

}