<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Ng</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="onClickBrand($event)" [style.color]="color">
        Ng6</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul 
        (click)="onClickNavItem($event,navContainer)" 
        #navContainer class="nav navbar-nav">
        <li [class.active]="url">
          <a [routerLink]="['./']" 
          routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['./register']" 
          routerLinkActive="active">Register</a>
        </li>
        <li>
          <a 
          [routerLink]="['./login']" 
          routerLinkActive="active">Login</a>
        </li>
       
        <li>
          <a [routerLink]="['./products']" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a [routerLink]="['./how-to']" routerLinkActive="active">How-to</a>
         
        </li>
       

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
