
  <div class="well well-sm">
      <div class="permissions-title">
        <span class="glyphicon glyphicon-hand-up"></span>
        <h3 class="text-center">Edit permissions</h3>
      </div>
      <div class="media">
        <div class="media-user media-left col-sm-6 col-md-6">
            <img src="../assets/images/default_user.png" alt="" class="img-responsive" width="255" height="233" />
            <button id="ispermission" type="button" class="btn btn-primary btn-default">
              Save permissions
            </button>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Jimmy Two Times</h4>
            <p class="permissions">
              <i class="glyphicon glyphicon-envelope"></i>
               jimmy@goodfellas.com
            </p>
            <p class="default-permission">
              <i class="glyphicon glyphicon-gift"></i> default is read.
            </p>
            <div class="checkbox">
              <div class="row">
                <div class="col-md-8 col-md-offset-1">
                  <label>
                    <input type="checkbox" id="input-permissions" class="input-permissions" value="read" checked /> Read
                  </label>
                </div>
                <div class="col-md-8 col-md-offset-1">
                  <label>
                    <input type="checkbox" id="input-permissions" class="input-permissions" value="write" /> Write
                  </label>
                </div>
              </div>
            </div>

        </div>
        
      </div> 
  </div>
  
    
