
.create-content.btn.btn-primary {
  margin-top:33px;
}

small {
  font-size: 42%;
}

.users-table.table tr {
  cursor: pointer;
}

.dropdown {
  float:right;
}

.is-guarded {
  color: #c14c4c;
}
.is-guarded:hover {
  color:#ff4003;
}

.btn-group.reach-buttons {
  margin-left:1em;
}

button:focus {
  outline:none !important;
}