<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="col-md-12 col-xs-12">
        <h2>Book details</h2>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="product-detail">
            <div class="row">
              <div class="bookhead col-lg-12 col-md-12 col-xs-12">
                <h2 class="title">{{ bookObj.title }}</h2>
              </div>
            </div>
            <div class="row">
              <div class="bookcover col-lg-4 col-md-4 col-xs-12">
                <img class="details-image animated flipInX" src="../../assets/{{bookObj.thumbnailUrl}}" width="435" height="560" alt="placeholder img" />
              </div>
              
              <div class="booklong col-lg-8 col-md-8 col-xs-12">
                <p><span class="bookprop">id:</span>
                {{bookObj._id}}
                </p>
                <p><span class="bookprop">status:</span>
                  {{ bookObj.status }}
                </p>
                <p><span class="bookprop">isbn:</span>
                  {{bookObj.isbn}}
                </p>
                <p><span class="bookprop">categories:</span>
                {{bookObj.categories}}
                </p>
                <p><span class="bookprop">page count:</span>
                  {{bookObj.pageCount}}
                </p>
                <p class="bookdesc"><span class="bookprop">description:</span>
                  {{bookObj.longDescription}}</p>
                <p class="bookauthor"><span class="bookprop">author(s):</span>
                  {{ bookObj.authors }}
                </p>
              </div>
              <!-- endof book-long -->
            </div>
            <div class="row">
              <div class="bookcart col-lg-12 col-md-12 col-xs-12">
                  <a class="btn btn-primary btn-lg" (click)="onAddToCart($event)">Add to cart</a>
              </div>
              <!-- endof book-cart -->
            </div>
        </div>
        <!-- endof product-detail -->
      </div>

    </div>
  </div>

</div>
