.ishidden {
  display: none;
}

.product-item {
  padding:15px;
  overflow: hidden;
}

.prod-info-main {
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff;
    overflow: hidden;
}

.prod-info-main .product-image {
    background-color: #BDBDBD;
    display: block;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    border: 1px solid #607D8B;
    padding-top: 40px;
}

.product-name {
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.25em;
  letter-spacing: 1px;
  background:#f2f2f2;
  cursor: pointer;
}

.product-name p {
  margin:0;
  padding: 15px;
}

