.ishidden {
  display: none;
}

.product-item {
  padding: 15px 0;
  overflow: hidden;
}

.prod-info-main {
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fff;
  overflow: hidden;
}

.product-image {
  max-width: 150px;
}

.product-image img {
  max-width: 150px;
  width: 100%;
}

.product-name {
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.product-name a {
  font-size: 1.25em;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 10px;
}

.product-name p {
  margin: 0;
  width: 98%;
  padding: 0;
  font-size: 0.9em;
  text-align: justify;
}

@media screen and (max-width: 414px) {
  h1 {
    margin: 0.75em 0 0;
    text-align: center;
  }
  .product-image img {
    max-width: 414px;
    margin: 0 auto;
    width: 100%;
  }

  .cover .product-image {
    max-width: 414px;
  }

  .product-name a {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
  }

  .product-name p {
    margin: 0 auto;
    font-size: 0.95em;
  }
}
