<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h1>All Products</h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- First product-->
      <div class="prod-info-main clearfix">
        <div class="row">
          <div class="product-item"
             *ngFor="let product of allProducts">
            
              <div class="col-md-5 col-sm-12 col-xs-12" 
                [class.ishidden]="ishidden">
                <div class="product-image">
                  <img src="#" class="img-responsive">
              
                </div>
              </div>
             
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-name"
                  *ngIf="product._id">
                  <a [routerLink]="['/details', product._id ]">
                     {{product.title}}

                  </a>
                </div>
              </div>
          </div>
          <!-- product-item -->
        </div>
      </div>
      <!-- end product -->
    </div>
    
   
      
       
      <!-- <app-details></app-details> -->
        
    


  </div><!-- endof row -->
</div>
