<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>All Books</h1>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="prod-info-main clearfix">
        <div class="product-item clearfix col-lg-6 col-md-12 col-sm-12 
               col-xs-12" *ngFor="let product of allProducts">
          <a class="cover pull-left" [routerLink]="['/details', product._id]">
            <div class="product-image animated fadeInDownBig"
              (click)="onProductImage($event)">
              <img src="../../assets/{{product.thumbnailUrl}}" class="img-responsive" width="150" height="193" alt="placeholder" />
            </div>
          </a>
          <!-- <div class="row"> -->
            <div class="pull-left padding-right0 col-lg-8 col-md-9 col-sm-9 col-xs-12">
              <div class="product-name" *ngIf="product._id">
                <a [routerLink]="['/details', product._id]">
                  {{product.title}}
                </a>
                <p>{{product.shortDescription}}</p>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <!-- product-item -->
      </div>
      <!-- end product -->
    </div>
  </div>
  <!-- endof row -->
</div>
<!-- enof container -->