.product-item {
  padding:15px;
  overflow: hidden;
  border-bottom: 1px solid #bdbdbd;
  
}

.prod-info-main {
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #bdbdbd;
    -webkit-box-shadow: 0 1px 1px 0 rgba(137, 137, 137, 0.5);
    box-shadow: 0 1px 1px 0 rgba(137, 137, 137, 0.5);
    overflow: hidden;
}

.prod-info-main .product-image {
    background-color: #BDBDBD;
    display: block;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    border: 1px solid #607D8B;
    padding-top: 40px;
}

