<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>{{isHomePage}}</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.</p>
        <p class="learnmore">
          <a class="btn btn-primary btn-lg animated bounceIn" href="#" role="button">Learn more »</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row featurette">
    <div class="col-md-7 col-sm-12 col-xs-12 animated fadeInLeft">
      <h2 class="featurette-heading">Internet of Things.</h2>
      <h3 class="book-subtitle">Challenges, Advances, and Applications.</h3>
      <p class="lead">Distributed Application Development with PowerBuilder 6.0 is a vital source for the PowerBuilder programmer; it provides
        the sort of detailed coverage of Distributed PowerBuilder that you can find nowwhere else. The book opens with a discussion
        of distributed computing in general, as well as its design principles and technologies. Then Distributed PowerBuilder is
        examined in detail. By building a simple application step by step, the author discusses all of the concepts and components
        needed for building a PowerBuilder application and shows how to make the application available over a network.
      </p>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 animated fadeInRight">
      <img class="featurette-image img-responsive center-block"  alt="{{bookTitle}}" src="../assets/images/internet.png">
    </div>
  </div>






