.wrapper {
  min-height: 100vh;
  display:block;
}

.product-detail {
  margin: 1em 0;
}

.bookhead {
  display:block;
  overflow: hidden;
}

.bookhead h2 {
  margin-bottom: 1em;
}


.bookcover img {
  max-width: 375px;
  width:100%;
  height: auto;
}

.booklong p {
  text-align: justify;
  width: 100%;
  margin:0;
}

.booklong p.bookdesc, .booklong p.bookauthor {
  margin-top:10px;
}

.bookcart {
  margin:2em 0;
}


.bookprop {
  color:darkred;
}

.details-image {
  animation-duration: .5s;
  animation-delay: .075s;
  animation-iteration-count: 1;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .075s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: .5s;
  -moz-animation-delay: .075s;
  -moz-animation-iteration-count: 1;
  -ms-animation-duration: .5s;
  -ms-animation-delay: .075s;
  -ms-animation-iteration-count: 1;
} 




@media screen and (max-width: 992px) {
  .booklong {
    margin:1.5em 0;
  }
  
  .booklong p {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .bookcover img {
    max-width: 414px;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }
}