<div class="col-md-7 col-sm-12 col-xs-12">
  <div class="product-detail">
    <div class="bookhead">
      <h2 class="title">{{ bookObj.title }}</h2>
      <h4>author(s): <span>{{ bookObj.authors }}</span></h4> 
      <img class="bookcover" src="../assets/images/bookcover.jpeg" width="400" height="200" alt="placeholder img" />
    </div>
    <!-- endof bookhead -->

    <div class="bookcontainer">
      <p>id: <span>{{bookObj._id}}</span></p>
      <p>status: <span>{{ bookObj.status }}</span></p>
      <p>isbn: <span>{{bookObj.isbn}}</span></p>
      <p>categories: <span>{{bookObj.categories}}</span></p>
      <p>page count: <span>{{bookObj.pageCount}}</span></p>
    </div>
    <!-- endof bookcontainer   -->
  
    <div class="book-long">
      <p>{{bookObj.longDescription}}</p>
    </div>
    <!-- endof book-long -->

    <div class="book-cart">
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary btn-lg">Add to cart</a>
        </div>
      </div>
    </div>
    <!-- endof book-cart -->
  </div>
  <!-- endof product-detail -->
</div>